body{
    background-color: rgb(164, 189, 243);
}
section{
    margin: 0 auto;
    background: #6f98e4  ;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    color: #0B0B0C ;
    font-size: 20px;
}
.cajas{
    border-radius: 10px;
    width: 200px;
    height: 20px;
}

h1{
    text-align: center;
    color:black
    ;
}
body{
background-image: url(../img/color.jpg);
}