body{
    background-color: rgb(202, 212, 235);
}
section{
    margin: 0 auto;
    background: #e0d9ff  ;
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    color: #bcbcc5 ;
    font-size: 30px;
}
.cajas{
    border-radius: 10px;
    width: 100px;
    height: 20px;
    
     
}

h1{
    text-align: center;
    color:black
    ;
}
 